@font-face {
    font-family: 'Pretendard-Regular'; /* 폰트 이름을 'Pretendard-Regular'로 설정 */
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); /* 폰트 파일의 경로와 형식 설정 */
    font-weight: 400; /* 폰트 두께를 400으로 설정 */
    font-style: normal; /* 폰트 스타일을 보통(normal)으로 설정 */

}
body {
    text-align: center; /* 텍스트를 가운데 정렬 */
    font-family: 'Pretendard-Regular'; /* 폰트를 'Pretendard-Regular'로 설정 */

}

.wrap {
    display: inline-block; /* 요소를 인라인 블록으로 표시하여 가운데 정렬 */
    text-align: left; /* 텍스트를 왼쪽 정렬 */
}


/* 레이어팝업 서브01 */

/* 팝업 전체 영역 스타일 */
.popup {
    position: fixed; /* 화면 고정 위치 */
    top: 0; /* 화면 맨 위에 배치 */
    left: 0; /* 화면 맨 왼쪽에 배치 */
    z-index: 9999; /* 다른 요소들보다 위에 표시 */
    background: rgba(0,0,0,.5); /* 배경색과 투명도 설정 */
    width: 100%; /* 화면 전체 너비로 확장 */
    height: 100%; /* 화면 전체 높이로 확장 */
    padding-top: 50px; /* 상단 여백 설정 */
    display: none; /* 초기에는 숨김 상태 */
}

/* 팝업 닫기 버튼 스타일 */
.popup .close {
    position: absolute; /* 부모 요소를 기준으로 위치 지정 */
    background-color: #FEBC37; /* 배경컬러 */
    width: 50px; /* 넓이 */
    height: 50px; /* 높이 */
    border-radius: 50%; /* 모서리 라운드 */
    top: 20px; /* 상단 여백 */
    left: 50%; /* 가운데 정렬을 위해 왼쪽 위치 조정 */
    transform: translateX(-50%); /* 수평 가운데 정렬 */
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    transition: background-color 0.3s ease; /* 배경색 변경 시 부드러운 전환 효과 */
}

.popup .close:hover {
    background-color: #fff; /* 호버 시 배경색을 흰색으로 변경 */
}


/* 팝업 Go 버튼 스타일 */
.popup .go {
    position: absolute; /* 부모 요소를 기준으로 위치 지정 */
    background-color: #FEBC37; /* 배경컬러 */
    width: 100px; /* 넓이 */
    height: 50px; /* 높이 */
    border-radius: 100px; /* 모서리 라운드 */
    bottom: 50px; /* 아래쪽 여백 */
    right: 40px; /* 오른쪽 여백  */
    transform: translateX(-50%); /* 수평 가운데 정렬 */
    text-align: center; /* 글자 중앙 정렬 */
    line-height: 50px; /* 글자 문단 간격 */
    cursor: pointer; /* 커서 포인트 손모양 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    transition: background-color 0.3s ease; /* 배경색 변경 시 부드러운 전환 효과 */
}

.popup .go:hover {
    background-color: #fff; /* 호버 시 배경색을 흰색으로 변경 */
}

.popup .subpage-container a.go {
    color: inherit; /* 부모 요소로부터 폰트 색상 상속 */
}




/* 서브페이지01 */

.subpage-container {
    width: 1200px;
    margin: auto;
    height: 800px;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.subpage-container img {
    max-width: 100%;
    height: auto;
}

.subpage-container div {
    width: 1200px;
    height: 800px;
    overflow-y: scroll;
}



/* 포트폴리오시작 */

.Greetings {
    width: 1440px; /* Greetings 요소의 너비 */
    height: 900px; /* Greetings 요소의 높이 */
    background-color: #ffffff; /* 배경색 */
    display: flex; /* Greetings 요소에 flexbox 레이아웃 적용 */
    flex-direction: column; /* 세로로 배치 */
    justify-content: center; /* 수직으로 가운데 정렬 */
    align-items: center;  /* 수평으로 가운데 정렬 */
    text-align: center; /* 텍스트를 수평으로 가운데 정렬 */
    position: relative; /* .Greetings 요소의 위치를 상대적으로 설정, 자식 요소에 절대 위치 지정 가능 */
}
.Greetings .yoona {
    width: 629px; /* 로고 이미지의 너비 */
    height: auto; /* 높이는 자동 조정 */
    margin-bottom: 20px; /* 로고 아래 여백 */
    align-items: center; /* 자식 요소들을 수평으로 가운데 정렬 */
}
.Greetings .webd {
    width: 575px; /* 로고 이미지의 너비 */
    height: auto; /* 높이는 자동 조정 */
    text-align: center; /* 이미지 내부 요소를 가운데 정렬 */ 
}


/* 프로필 시작*/

.profile {
    width: 1440px; /* 섹션의 너비 */
    height: 900px; /* 섹션의 높이 */
    background-color: #FEBC37; /* 배경색 */
    display: flex; /* 섹션을 플렉스 컨테이너로 지정 */
}


/* 프로필왼쪽 */

.profile .left-panel {
    width: 693px; /* 왼쪽 패널의 너비 */
    height: 900px; /* 섹션의 높이 */
    padding-left: 152px; /* 왼쪽 여백 */
    padding-top: 146px; /* 위쪽 여백 */
}
.profile .left-panel h1 {
    color: #ffffff; /* 텍스트 색상 */
    font-size: 40px; /* 폰트 크기 */
    font-weight: bold; /* 폰트를 굵게 */
}
.profile .left-panel img {
    margin-top: 20px; /* 이미지의 위쪽 여백 */
    margin-bottom: 15px; /* 이미지의 아래쪽 여백 */
}
.profile .left-panel p {
    color: #ffffff; /* 텍스트 색상 */
    font-size: 20px; /* 폰트 크기 */
    line-height: 30px; /* 각 줄 사이의 간격  */
}



/* 프로필오른쪽 */

.profile .right-panel {
    width: 747px; /* 오른쪽 패널의 너비 */
    height: 900px; /* 섹션의 높이 */    
    color: #ffffff; /* 텍스트 색상 */ 
    padding-top: 146px; /* 위쪽 여백*/
}
.profile .right-panel h1 {
    font-size: 40px; /* 폰트 크기 */
    font-weight: bold; /* 폰트를 굵게 */
    margin-bottom: 20px; /* 아래쪽 여백 */
}
.profile .right-panel .icon1 {
    display: flex; /* 자식 요소들을 가로로 나열 */
    margin-bottom: 20px; /* 아래쪽 여백  */
}   
.profile .right-panel .icon2 {
    display: flex; /* 자식 요소들을 가로로 나열 */
    margin-bottom: 122px; /* 아래쪽 여백  */  
}   
.icon1 img, .icon2 img {
    margin-right: 10px; /* 오른쪽 여백을 */
}
.icon img:last-child {
    margin-right: 0; /* 마지막 이미지에는 오른쪽 여백을 추가하지 않음 */
}
.right-panel h2 {  
    font-size: 20px; /* 폰트 크기 */
    margin-bottom: 20px; /* 아래쪽 여백 */
    margin-top: 20px; /* 위쪽 여백 */  
}
.right-panel p {
    font-size: 16px; /* 폰트 크기 */
    line-height: 30px; /* 각 줄 사이의 간격 */
}

/* 라라스윗 시작 */
.LaraSweet {
    width: 1440px; /* 섹션의 너비 */
    height: 900px; /* 섹션의 높이 */
    background-color: #3C3F47; /* 배경색 */
    display: flex; /* 섹션을 플렉스 컨테이너로 지정 */
}

/* 라라스윗왼쪽 */
.LaraSweet .left-panel {
    width: 425px; /* 왼쪽 패널의 너비 */
    height: 900px; /* 섹션의 높이 */
    padding-left: 76px; /* 왼쪽 여백 */
    padding-top: 239px; /* 위쪽 여백 */
    color: #ffffff; /* 텍스트 색상 */
}
.LaraSweet .left-panel h1 {
    color: #FEBC37; /* 텍스트 색상 */
    font-size: 40px; /* 폰트 크기 */
    font-weight: bold; /* 폰트를 굵게 */
    margin-bottom: 20px; /* 아래쪽 여백 */
}
.LaraSweet .left-panel p {
    font-size: 16px; /* 폰트 크기 */
    color: #B1AFAF; /* 텍스트 색상 */
    line-height: 30px; /* 각 줄 사이의 간격 */
}
.LaraSweet .icon1 {
    margin-top: 53px; /* 위쪽 여백 */
}
.LaraSweet button {
    background-color: #FEBC37; /* 버튼 배경색 */
    color: #3C3F47; /* 버튼 텍스트 색상 */
    font-weight: bold; /* 폰트를 굵게 */
    font-size: 17px; /* 폰트 크기 */
    width:145px;
    height: 45px;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    outline: none; /* 포커스 테두리 제거 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    transition: background-color 0.3s ease; /* 배경색 변경 시 부드러운 전환 효과 */
}
.LaraSweet button:hover {
 background-color: #ffffff;
}    


/* 라라스윗오른쪽 */

.LaraSweet .right-panel {
    width: 747px; /* 오른쪽 패널의 너비 */
    height: 900px; /* 섹션의 높이 */       
    padding-top: 146px; /* 위쪽 여백 146px */
}
.LaraSweet .imgbox {
    width:auto
}


/* 타이포그래피 */
.Typography {
    width: 1440px;
    height: 900px;
    background-color: #AEAEAE; /* 배경색 노란색 */
    display: flex; /* 섹션을 플렉스 컨테이너로 지정 */
}

/* 타이포그래피왼쪽 */
.Typography .left-panel {
    width: 425px; /* 왼쪽 패널의 너비 */
    height: 900px; /* 섹션의 높이 */
    padding-left: 76px; /* 왼쪽 여백 152px */
    padding-top: 239px; /* 위쪽 여백 146px */
    color: #ffffff;  
}
.Typography .left-panel h1 {
    color: #2B2C34;
    font-size: 40px;
    font-weight: bold; /* 폰트를 굵게 설정 */
    margin-bottom: 20px; 
}
.Typography .left-panel p {
    font-size: 16px;
    color: #ffffff;
    line-height: 30px; /* 각 줄 사이의 간격을 20px로 설정 */   
    margin-left: 0px;
}
.Typography .iconconbox1 {
    margin-top: 53px;
    display: flex;
    align-items: center;
}

.Typography .iconconbox1 p {
color: #2B2C34;
margin-left: 10px;
}    

/* 타이포그래피 오른쪽 */

.Typography .right-panel {
    width: 747px; /* 오른쪽 패널의 너비 */
    height: 900px; /* 섹션의 높이 */       
    padding-top: 200px; /* 위쪽 여백 146px */
}
.Typography .imgbox {
    width:auto;      
}



/* 광고배너 */
.Banner {
    width: 1440px;
    height: 900px;
    background-color: #009E47; /* 배경색  */
    display: flex; /* 섹션을 플렉스 컨테이너로 지정 */
}

/* 광고배너 왼쪽*/
.Banner .left-panel {
    width: 425px; /* 왼쪽 패널의 너비 */
    height: 900px; /* 섹션의 높이 */
    padding-left: 76px; /* 왼쪽 여백 152px */
    padding-top: 239px; /* 위쪽 여백 146px */
    color: #ffffff;  
}
.Banner .left-panel h1 {
    color: #2B2C34;
    font-size: 40px;
    font-weight: bold; /* 폰트를 굵게 설정 */
    margin-bottom: 20px;
}
.Banner .left-panel p {
    font-size: 16px;
    color: #ffffff;
    line-height: 30px; /* 각 줄 사이의 간격을 20px로 설정 */   
   
}
.Banner .iconconbox1 {
    margin-top: 53px;
    display: flex;
    align-items: center;  
}

.Banner  .iconconbox1 p {
    color: #2B2C34;
    margin-left: 10px;
    }    


/* 광고배너 오른쪽 */

.Banner .right-panel {
    width: 747px; /* 오른쪽 패널의 너비 */
    height: 900px; /* 섹션의 높이 */       
    padding-top: 40px; /* 위쪽 여백 40px */
}
.Banner .imgbox {
    width:auto;      
}




/* 그레이스비건 */
.GraceVegan {
    width: 1440px;
    height: 900px;
    background-color: #F0962E; /* 배경색  */
    background-image: url('../img/GraceVeganimg.png'); /* 배경 이미지 설정 */
    display: flex; /* 섹션을 플렉스 컨테이너로 지정 */
}

/* 그레이스비건 왼쪽 */
.GraceVegan .left-panel {
    width: 425px; /* 왼쪽 패널의 너비 */
    height: 900px; /* 섹션의 높이 */
    padding-left: 76px; /* 왼쪽 여백 152px */
    padding-top: 239px; /* 위쪽 여백 146px */
    color: #ffffff;  
}
.GraceVegan .left-panel h1 {
    color: #2B2C34;
    font-size: 40px;
    font-weight: bold; /* 폰트를 굵게 설정 */
    margin-bottom: 20px;
}
.GraceVegan .left-panel p {
    font-size: 16px;
    color: #ffffff;
    line-height: 30px; /* 각 줄 사이의 간격을 20px로 설정 */   
    
}
.GraceVegan .iconconbox1 {
    margin-top: 53px;
    display: flex;
    align-items: center;  
}

.GraceVegan  .iconconbox1 p {
    color: #2B2C34;
    margin-left: 10px;
    }    



/* 토리골토마토 */
.Tomato {
    width: 1440px;
    height: 900px;
    background-color: #CF382F; /* 배경색  */
    background-image: url('../img/Tomatoimg.png'); /* 배경 이미지 설정 */
    display: flex; /* 섹션을 플렉스 컨테이너로 지정 */
}

/* 토리골토마토 왼쪽 */
.Tomato .left-panel {
    width: 425px; /* 왼쪽 패널의 너비 */
    height: 900px; /* 섹션의 높이 */
    padding-left: 76px; /* 왼쪽 여백 152px */
    padding-top: 239px; /* 위쪽 여백 146px */
    color: #ffffff;  
}
.Tomato .left-panel h1 {
    color: #2B2C34;
    font-size: 40px;
    font-weight: bold; /* 폰트를 굵게 설정 */
    margin-bottom: 20px;
}
.Tomato .left-panel p {
    font-size: 16px;
    color: #ffffff;
    line-height: 30px; /* 각 줄 사이의 간격을 20px로 설정 */   

}
.Tomato .iconconbox1 {
    margin-top: 53px;
    display: flex;
    align-items: center;  
}

.Tomato .iconconbox1 p {
    color: #2B2C34;
    margin-left: 10px;
    }    


/* 마우스 효과 시작*/

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'Pretendard-Regular';
    background: #ddd;
}

a.mouse {
    padding-top: 60px;
    position: fixed;
    bottom: 105px;
    left: 50%;
    z-index: 999999;
}

a.mouse span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px; /* 동그라미 너비 */
    height: 60px; /* 동그라미 높이 */
    margin-left: -20px; /* 변경된 너비의 절반으로 조정 */
    border: 3px solid #FEBC37; /* 테두리 두께를 2px에서 3px로 변경 */
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2); 
    background: transparent;
}

a.mouse span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 10px; /* 내부 원의 너비 */
    height: 10px; /* 내부 원의 높이 */
    margin-left: -4px; /* 변경된 너비의 절반으로 조정 */
    background-color: #FEBC37;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2); 
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: translate(0, 0);
        width: 10px; /* 초기 너비 */
        height: 10px; /* 초기 높이 */
    }
    40% {
        width: 10px; /* 타원으로 변경되는 너비 */
        height: 10px; /* 높이 유지 */
    }
    80% {
        -webkit-transform: translate(0, 20px);
        width: 10px; /* 원래 너비로 복귀 */
        height: 10px; /* 높이 유지 */
    }
    100% {

    }
}

@keyframes sdb {
    0% {
        transform: translate(0, 0);
        width: 10px; /* 초기 너비 */
        height: 10px; /* 초기 높이 */
    }
    40% {
        width: 10px; /* 타원으로 변경되는 너비 */
        height: 10px; /* 높이 유지 */
    }
    80% {
        transform: translate(0, 20px);
        width: 10px; /* 원래 너비로 복귀 */
        height: 10px; /* 높이 유지 */
    }
    100% {
       
    }
}

/* 마우스효과 끝 */


/* 라인 애니메이션 시작 */

.container {
    position: relative;
    width: 1440px;
    height: 800px;
    margin: auto;
    overflow: hidden;
  }
  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid #48ACC7; /* 하늘색 */
    transform: translate(-50%, -50%);
    animation: expandBox 2.5s forwards, fadeOut 1.5s 2.5s forwards, fadeIn 1.5s 4s forwards, changeColor 0.5s 4s forwards, fadeContinuous 1s 5.5s infinite;
  }
  .center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* 선 위로 이미지가 나타나게 하기 위해 z-index 설정 */
    opacity: 1; /* 처음에는 이미지가 보이도록 투명도 설정 */
  }
  
  @keyframes expandBox {
    0% {
      width: 400px;
      height: 300px;
    }
    100% {
      width: 1440px;
      height: 900px;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes changeColor {
    0% {
      border-color: #48ACC7; /* 시작 색상: 하늘색 */
    }
    100% {
      border-color: #FEBC37; /* 최종 색상: 노란색 */
    }
  }
  
  @keyframes fadeContinuous {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0.75;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }

  /* 라인에니메이션 끝 */



  